#### Import Libraries

In [ ]:
import psycopg2
import pandas as pd

#### Creating function for database

In [ ]:
def create_database():
    
    #### Connect to default database
    
    conn = psycopg2.connect("host = 127.0.01 dbname = postgres user = postgres password = Keerat@321a")
    conn.set_session(autocommit = True)
    cur = conn.cursor()
    
    #### Create sparkify database with UTF8 encoding
    
    cur.execute ("DROP DATABASE IF EXISTS accounts")
    cur.execute ("CREATE DATABASE accounts")
    
    #### Close connection to deafault database
    
    conn.close()
    
    #### Coonect to sparkify database
    
    conn = psycopg2.connect("host = 127.0.01 dbname = accounts user = postgres password = Keerat@321a")
    cur = conn.cursor()
    
    return cur, conn

In [ ]:
def drop_tables (cur, conn):
    for query in drop_table_queries:
        cur.execute (query)
        conn.commit()

In [ ]:
def insert_tables (cur, conn):
    for query in insert_table_queries:
        cur.execute (query)
        conn.commit()

In [ ]:
AccountsCountry = pd.read_csv("Wealth-AccountsCountry.csv")

In [ ]:
AccountsCountry.head()

In [ ]:
AccountsCountry.rename(columns = {"Code": "Country Code"}, inplace =True)

AccountsCountry

In [ ]:
AccountsCountry.head()

In [ ]:
AccountsCountry_clean = AccountsCountry[['Country Code', 'Long Name', 'Currency Unit', 'Table Name', 'Short Name']]

In [ ]:
AccountsCountry_clean.head()

In [ ]:
AccountsData = pd.read_csv("Wealth-AccountData.csv")

In [ ]:
AccountsData.head()

In [ ]:
AccountsData.columns

In [ ]:
AccountsData.rename(columns = {"Series Name": "Indicator Name", "Series Code": "Indicator Code"}, inplace =True)

AccountsData.head()

In [ ]:
AccountsData_clean = AccountsData[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']]

In [ ]:
AccountsData_clean.head()

In [ ]:
AccountsSeries = pd.read_csv("Wealth-AccountSeries.csv")

In [ ]:
AccountsSeries.head()

In [ ]:
AccountsSeries.columns

In [ ]:
AccountsSeries_clean = AccountsSeries[['Code', 'Indicator Name', 'Long definition', 'Topic']]

In [ ]:
AccountsSeries_clean.head()

In [ ]:
cur, conn = create_database()

In [ ]:
AccountsCountry_table_create = (""" CREATE TABLE IF NOT EXISTS accountscountry(
Country_Code VARCHAR PRIMARY KEY,
Long_Name VARCHAR,
Currency_Unit VARCHAR, 
Table_Name VARCHAR,
Short_Name VARCHAR
)""")

In [ ]:
cur.execute(AccountsCountry_table_create)
conn.commit()

In [ ]:
accounts_data_table_create = (""" CREATE TABLE IF NOT EXISTS accountsdata(
Country_Name VARCHAR,
Country_Code VARCHAR,
Indicator_Name VARCHAR, 
Indicator_Code VARCHAR
)""")

In [ ]:
cur.execute(AccountsData_table_create)
conn.commit()

In [ ]:
AccountSeries_data_table_create = (""" CREATE TABLE IF NOT EXISTS accountseries(
Code VARCHAR,
Indicator_Name VARCHAR,
Long_defination VARCHAR,
Topic VARCHAR
)""")

In [ ]:
cur.execute(AccountSeries_data_table_create)
conn.commit()

In [ ]:
AccountsCountry_table_insert = ("""INSERT INTO accountscountry(
country_code ,
short_name ,
table_name ,
long_name ,
currency_unit)
VALUES (%s, %s, %s, %s, %s)
""")

In [ ]:
for i, row in AccountsCountry_clean.iterrows():
        cur.execute(AccountsCountry_table_insert, list(row))

In [ ]:
Accountsdata_table_insert = ("""INSERT INTO accountsdata(
country_name ,
country_code ,
indicator_name ,
indicator_code
)
VALUES (%s, %s, %s, %s, %s)
""")

In [ ]:
for i, row in AccountsData.iterrows():
        cur.execute(accounts_data_table_insert, list(row))

In [ ]:
accountseries_data_table_insert = (""" INSERT INTO accountseries(
code,
indicator_name,
long_definition, 
topic)
VALUES (%s, %s, %s, %s)
""")

In [ ]:
for i, row in AccountsSeries.iterrows():
        cur.execute(accountseries_data_table_insert, list(row))